body, html {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #0F0; /* Green text */
    background: #000; /* Black background */
  }
  .bg {
    /* The image used */
    background-image: url(assets/Background1.jpg);
    opacity: 0.5;
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .top-bar .logo {
    font-weight: bold;
    font-size: 150%;
  }
  .top-bar .lives-remaining {
    flex-grow: 1; /* Makes it take up the available space */
    text-align: center;
  }
  
  /* top bar buttons animation */
  .top-bar .control-buttons button {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color);
    background: none;
    border: none;
    color: #0F0; /* Green text */
    margin: 0 10px;
    padding: 5px 3px;
    cursor: pointer;
    font-size: 16px;
   }
   
   .top-bar .control-buttons button::after, .top-bar .control-buttons button::before {
    content: '';
    display: block;
    font-family: 'Orbitron', sans-serif;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .top-bar .control-buttons button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover {
    color: var(--color2);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:active {
    filter: brightness(.7);
    transform: scale(.98);
    font-family: 'Orbitron', sans-serif;
   }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #272727; /* Black background */
    color: #0F0; /* Green text */
    font-family: 'Orbitron', sans-serif;
  }
  
  .loader {
    width: 28px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #25b043 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }
  
    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0.6em;
      margin-top: -0.25em;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
      );
    }
    
    .label {
      position: relative;
      top: -1px;
    }
    
    .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background-color: rgba(16, 185, 129, 0.6);
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    button:hover .transition {
      width: 14em;
      height: 14em;
    }
    
    button:active {
      transform: scale(0.97);
    }
    
    
    .label {
      position: relative;
      top: -1px;
    }
    
    .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background-color: rgba(16, 185, 129, 0.6);
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    button:hover .transition {
      width: 10em;
      height: 10em;
    }
    
    button:active {
      transform: scale(0.97);
    }

  .center-box h2 {
    color: green;
    font-family: 'Orbitron', sans-serif;
  }
  .center-box {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 85%;
      padding: 20px;
      border: 2px solid #1a3968;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.7);
      color: rgb(252, 253, 252);
      text-align: center;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .center-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
  }
     .phone {
    width: 300px;
    height: 600px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    position: relative;
  }

  .camera {
    width: 100%;
    height: 40px;
    background-color: #444;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .camera::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .screen {
  flex: 1;
  background-color: #222;
  display: flex;
  flex-direction: column-reverse; /* Reverse order of messages */
  align-items: center;
  justify-content: flex-start; /* Align messages to the top */
  color: white;
  font-size: 24px;
  overflow-y: hidden; /* Remove vertical scrolling */
}

  .button-bar {
  width: 100%;
  height: 60px;
  background-color: #444;
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: flex-end; /* Align the button to the bottom */
  position: absolute;
  bottom: 0%;
}

  .button-phone {
    width: 50px;
    height: 50px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 9%;
  }

  .button-phone:hover {
    background-color: #888;
  }
    .network-list {
        list-style-type: none;
        padding: 0;
    }
    .network-button {
        background: #333; /* White background */
        border: none; /* No border */
        color: white;
        padding: 5% 5%; /* Padding around text */
        margin: 8%; /* Margin between buttons */
        width: calc(100% - 30px); /* Full width within the container with padding */
        text-align: center; /* Align text to the left */
        border-radius: 2%; /* Rounded corners */
        outline: none; /* Remove outline */
        cursor: pointer; /* Change mouse cursor on hover */
        box-shadow: inset 0 0 0 0 #0F0; /* Set up for the highlight effect */
        transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
        font-size: 1em; /* Set font size */
        font-weight: bolder;
      }
      #passwordInput button {
        display: block;
      }
    
      /* Add this CSS to hide the confirm button by default */
      .confirm-button {
        display: none;
      }
      .confirm-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        width: 80%; /* Make button full width of container */
        box-sizing: border-box; /* Include padding in the button width */
      }
      .pause-menu button {
        background-color: #0F0; /* Green background*/ 
        color: #000; /* Black text */
        border: none;
        padding: 20px 20px;
        margin: 40px 0; /* Space between buttons */
        display: block; /* Each button on a new line */
        width: 100%; /* Full width of the parent */
        box-sizing: border-box; /* Padding included in width */
        cursor: pointer;
        border-radius: 5px;
      }
      .input-container {
      display: block; /* Change from 'none' to 'block' */
      text-align: center;
}
      .password-input {
        display: none;
        margin-top: 5px;
        text-align: center;
    }

    .progress-container {
    display: flex;
    align-items: center;
    height: 20px; /* Height of the progress bar */
    width: 30%; /* Half the size of the original */
    margin-left: 20px; /* Margin left of the logo */
    margin-right: 20px;
    font-family: 'Orbitron', sans-serif;
  }
  
  /* Individual steps in the progress bar */
  .progress-step {
    flex: 1; /* Distribute space evenly */
    text-align: center;
    color: white;
    position: relative; /* For pseudo-elements positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em; /* Smaller font size for the text */
    font-family: 'Orbitron', sans-serif;
  }
  
  /* Pseudo-element for the step connecting lines */
  .progress-step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 2%; /* Line thickness */
    width: 100%; /* Line width */
    background: white; /* Line color */
    z-index: -1;
    transform: translateX(50%);
  }
  
  /* Colors for each step based on the design */
  .step-1 { background: linear-gradient(to right, #00327C, #0958cf); }
  .step-2 { background: linear-gradient(to right, #fff,#fff); }
  .step-3 { background: linear-gradient(to right, #fff,#fff); border-radius: 0 6px 6px 0; }
  #network1{
    text-align: center;
    align-items: center;
  }
  .hint-box {
    position: absolute;
    top: 80px; /* Below the top bar */
    right: -400px; /* Start off screen */
    width: 350px; /* Width of the hint box */
    background: #000; /* Black background */
    color: #0F0; /* Green text */
    padding: 20px;
    border: 2px solid #0F0; /* Green border */
    border-radius: 5px;
    transition: right 0.5s; /* Smooth transition for the slide-in effect */
    z-index: 100; /* Ensure it's above other elements */
    display: none;
    font-family: 'Orbitron', sans-serif;
  }
  .pause-menu {
    position: fixed;
    left: 38%;
    right: 50px;
    top: 200px;
    padding: 70px 60px;
    font-family: 'Orbitron', sans-serif;
    background: #000; /* Black background */
    border: 2px solid #0F0; /* Green border*/ 
    color: #0F0; /* Green text */
    width: 380px; /* Adjust width as needed */
    display: none;
    }
    .pause-menu h1 {
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    bottom: 500px;
    left: 32%;
    margin-bottom: 50px; /* Space between title and buttons*/ 
    }
    .pause-menu button {
    background-color: #0F0; /* Green background*/ 
    color: #000; /* Black text */
    border: none;
    padding: 20px 20px;
    margin: 40px 0; /* Space between buttons */
    display: block; /* Each button on a new line */
    width: 100%; /* Full width of the parent */
    box-sizing: border-box; /* Padding included in width */
    cursor: pointer;
    border-radius: 5px;
    }
  /* pause menu button animation */
  
  .cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg)
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #FBC638;
    }
  
    100% {
      fill: white;
    }
  }


