body, html {
  height: 100%;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #0F0; /* Green text */ /* Black background */
  background-color: #000;
}
.bg {
  /* The image used */
  opacity: 0.5;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
  .top-bar .logo {
    font-weight: bold;
    font-size: 150%;
    font-family: 'Orbitron', sans-serif;
  }
   .choose-legitimate-message {
    margin-top: 20px; /* This line adds margin-top to create space between the center box and the text */
    text-align: center; /* This line centers the "Choose the legitimate message" text */
  }
  .top-bar .lives-remaining {
    flex-grow: 1; /* Makes it take up the available space */
    text-align: center;
    font-family: 'Orbitron', sans-serif;
  }
  
  /* top bar buttons animation */
  .top-bar .control-buttons button {
    --color: #ff9100;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color);
    background: none;
    border: none;
    color: #0F0; /* Green text */
    margin: 0 10px;
    padding: 5px 3px;
    cursor: pointer;
    font-size: 16px;
   }
   
   .top-bar .control-buttons button::after, .top-bar .control-buttons button::before {
    content: '';
    display: block;
    font-family: 'Orbitron', sans-serif;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .top-bar .control-buttons button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:hover {
    color: var(--color2);
    font-family: 'Orbitron', sans-serif;
   }
   
   .top-bar .control-buttons button:active {
    filter: brightness(.7);
    transform: scale(.98);
    font-family: 'Orbitron', sans-serif;
   }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #272727; /* Black background */
    color: #0F0; /* Green text */
    font-family: 'Orbitron', sans-serif;
  }
  
  
  /* top loading animation */
  .loader {
    width: 28px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #25b043 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }
  
  
  .center-box .profile {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 15%;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden; /* Hide overflowing content from video */

  }

  .center-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
  }
  .center-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: #000 2px 2px;
    font-weight: bolder;
  }

  h2.icon{
  font-size: 750%;
  }
  .center-box input{
    width: 50%;
    padding: 8px;
    margin-bottom: 20px;
    background: white;
    color:#0F0; /* Green text */
  }
  
  /* input design codes below */
  
    .input {
      max-width: 190%;
      border: none;
      outline: none;
      background: none;
      font-family: 'Orbitron', sans-serif;
      font-size: 18px;
      color: #222;
      padding: 15px 5px 10px 20px;
      box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
      border-radius: 25px;
      background-clip: padding-box;
    }
    
    .input:focus {
      padding-bottom: 20px;
    }
    
    .input::placeholder {
      color: #222;
      text-transform: uppercase;
      transition: all 0.3s ease;
      font-size: 19px;
      font-weight: 700;
      letter-spacing: .3px;
      font-family: 'Orbitron', sans-serif;
    }
    
    .input:focus::placeholder {
      color: #999;
    }
    
  
  #passwordInput{
    color: rgb(0, 0, 0);
    font-weight: bold; 
  }
  
  .center-box button {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
      font-size: 17px;
      padding: 0.75em 1.5em; /* Reduced padding */
      font-weight: 500;
      background: #000000;
      color: rgb(255, 115, 0);
      border: none;
      font-family: 'Orbitron', sans-serif;
      position: relative;
      overflow: hidden;
      border-radius: 0.6em;
      cursor: pointer;
      width: 10em; /* Added width */
      height: 3em; /* Adjusted height to maintain aspect ratio */
    }

    #confirmButton:hover, #accessButton:hover {
      background-color: orange; /* Changes the background to orange */
      color: black;            /* Changes text color to black */
      transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
    }
    
    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0.6em;
      margin-top: -0.25em;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
      );
    }
    
    .label {
      position: relative;
      top: -1px;
    }
    
    .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background-color: rgba(16, 185, 129, 0.6);
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    button:hover .transition {
      width: 14em;
      height: 14em;
    }
    
    button:active {
      transform: scale(0.97);
    }
    
    
    .label {
      position: relative;
      top: -1px;
    }
    
    .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background-color: rgba(16, 185, 129, 0.6);
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    button:hover .transition {
      width: 10em;
      height: 10em;
    }
    
    button:active {
      transform: scale(0.97);
    }
  
  .center-box h2 {
    color: green; /*Default color*/
  }
  
  .hint-box {
    position: absolute;
    top: 80px; /* Below the top bar */
    right: -400px; /* Start off screen */
    width: 350px; /* Width of the hint box */
    background: #000; /* Black background */
    color: #0F0; /* Green text */
    padding: 20px;
    border: 2px solid #0f0; /* Green border */
    border-radius: 5px;
    transition: right 0.5s; /* Smooth transition for the slide-in effect */
    z-index: 100; /* Ensure it's above other elements */
    display: none;
    font-family: 'Orbitron', sans-serif;
  }
  
  
  
  .center-box {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; /* Set the width as per your layout requirement */
    height: 30%;
    padding: 13%;
    border: 2px solid rgb(97, 107, 25);
    font-family: 'Orbitron', sans-serif;
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: rgb(252, 253, 252); /* Green text */
    text-align: center;
    border-radius: 10px;
    background-size: cover;
  
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent black overlay */
    z-index: -1; /* Place the overlay behind the content */
    border-radius: 10px;
  }
  }
  
  .pause-menu {
    position: fixed;
    left: 38%;
    right: 50px;
    top: 200px;
    padding: 70px 60px;
    background: #000; /* Black background */
    border: 2px solid #0F0; /* Green border*/ 
    color: #0F0; /* Green text */
    width: 380px; /* Adjust width as needed */
    display: none;
  }
  .pause-menu h1 {
    position: fixed;
    bottom: 63%;
    left: 42%;
    margin-bottom: 3%; /* Space between title and buttons*/ 
  }
  .pause-menu button {
    background-color: #0F0; /* Green background*/ 
    color: #000; /* Black text */
    border: none;
    padding: 20px 20px;
    margin: 40px 0; /* Space between buttons */
    display: block; /* Each button on a new line */
    width: 100%; /* Full width of the parent */
    box-sizing: border-box; /* Padding included in width */
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* pause menu button animation */
  
  .cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg)
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #FBC638;
    }
  
    100% {
      fill: white;
    }
  }
  
  #passwordInput {
    font-weight:bold;
    text-align: center;
  }
  /* Progress bar container */
  .progress-container {
    display: flex;
    align-items: center;
    height: 20px; /* Height of the progress bar */
    width: 30%; /* Half the size of the original */
    margin-left: 20px; /* Margin left of the logo */
    margin-right: 20px;
  }
  
  /* Individual steps in the progress bar */
  .progress-step {
    flex: 1; /* Distribute space evenly */
    text-align: center;
    color: white;
    position: relative; /* For pseudo-elements positioning */
    display: flex;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    font-size: 0.8em; /* Smaller font size for the text */
  }
  
  /* Pseudo-element for the step connecting lines */
  .progress-step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 2%; /* Line thickness */
    width: 100%; /* Line width */
    background: white; /* Line color */
    z-index: -1;
    transform: translateX(50%);
  }
  
  /* Colors for each step based on the design */
  .step-1 { background: linear-gradient(to right, #ff8c00, #ff8c00); }
  .step-2 { background: linear-gradient(to right, #fff,#fff); }
  .step-3 { background: linear-gradient(to right, #fff,#fff); border-radius: 0 6px 6px 0; }
  
  
  
  
  
  
  

  
